:root {
  --event-page-large-img-height: 60vh;
}

.event-page {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;

  min-height: 100vh;
  padding: 80px 0px 0px 50px;
  margin: none !important;
}

.event-imgs {
  position: relative;
  border-radius: 40px !important;
}

.event-large-img {
  position: relative;
  height: var(--event-page-large-img-height);

  filter: blur(30px);
}

.event-small-img {
  position: absolute;
  /* top: 5%; */
  top: 0;
  left: 12.5%;

  max-width: 75%;
  height: var(--event-page-large-img-height);
  /* height: calc(var(--event-page-large-img-height) * 0.9); */
}